<h1><%= @user.name.capitalize %>'s Recipes</h1>

<div class="add-recipe-container">
  <%= link_to new_recipe_path, class: "" do %>
    <%= content_tag :i, nil, class: "" %>
    Add a new recipe
  <% end %>
</div>
<div class="recipe-container">
<% @recipes.each do |recipe| %>
<div class="recipe-row">
  <div class="recipe-row-left">
    <div><%= recipe.name %></div>
    <div><%= link_to 'REMOVE', recipe_path(recipe), data: { turbo_method: :delete } %></div>
  </div>
  <div class="recipe-row-right"><%= recipe.description %></div>
</div>
<% end %>
</div>