<h1><%= @user.name.capitalize %>'s Recipes</h1>

<div class="">
  <%= link_to new_recipe_path, class: "" do %>
    <%= content_tag :i, nil, class: "" %>
    Add a new recipe
  <% end %>
</div>
<div class="recipe-container">
<% @recipes.each do |recipe| %>
<tr class="recipe-row">
  <td><div><%= recipe.name %></div><%= link_to 'REMOVE', recipe_path(recipe), data: { turbo_method: :delete } %><div></div></td>
  <td><%= recipe.description %></td>
</tr>
<% end %>
</div>