<% # TODO: create functionallity to delete a food %>
<tr class="food-row">
  <td><%= food.name %></td>
  <td><%= food.measurement_unit %></td>
  <td>$<%= food.price %></td>
  <td><%= food.quantity %></td>
  <td><%= link_to 'Delete', food_path(food), data: { turbo_method: :delete } %></td>
</tr>