<section class="container m-block-2">
  <%= form_with(model: @food, url: foods_path) do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: 'e.g.: Apple', required: true %>
    </div>
    <div class="field">
      <%= f.label :measurement_unit %>
      <%= f.text_field :measurement_unit, placeholder: 'e.g.: grams', required: true %>
    </div>
    <div class="field">
      <%= f.label :quantity %>
      <%= f.number_field :quantity, min: 1, required: true %>
    </div>
    <div class="field">
      <%= f.label :price %>
      <%= f.number_field :price, min: 1, required: true %>
    </div>
    <%= f.submit class: "btn btn-right mb-2"  %>
  <% end %>
</section>
